*{
  margin: 0;
  padding: 0;
  color: #222222;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

nav{
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
}

.grey{
  color: #918E9B;
}

.bold{
  font-weight: 700;
}

nav>img{
  margin: 22.3px 30px;
  max-width: 100px;
}

.hero{
  display: flex;
  flex-direction: column;
}

.hero--collage{
  margin-top: 30px;
  width: 90vw;
  max-width: 600px;
  align-self: center;
}

.hero--title{
  margin-left: 10%;
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: 600;
  color: black;
}

.hero--para{
margin-left: 10%;
min-width: 320px;
font-weight: 300;
font-size: 16px;
}

.cards{
  margin-left: 10%;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card{
  width: 180px;
  font-size: 12px;
  margin: 20px;
}

.card--image{
  height: 235px;
  border-radius: 9px;
  margin-bottom: 9px;
}

.card--stats{
  display: flex;
  align-items: center;
}

.card--stats *{
  padding-right: 2px;
}

.card--star{
  height: 14px;
}

.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}